.footer {
  background-color: #1a202c;
  color: #cbd5e1;
  text-align: center;
  padding: 2.5rem 1rem;
  font-family: "Segoe UI", sans-serif;
  max-width: none;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 0.5rem; */
}

.footer-logo img {
  height: 140px;
  width: 150px;
  object-fit: contain;
}

.footer p + p {
  margin-top: 0.25rem;
  font-size: 0.75rem;
}