.header {
  background-color: #e53e3e;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.75rem 1rem;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.header .logo img {
  height: 140px;
  width: 150px;
  object-fit: contain;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.header ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header ul li a:hover {
  color: #d69e2e;
}

nav {
  width: 65%;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}
